a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.modal-backdrop-custom {
    position: fixed;        /* Stay in place */
    top: 0;                 /* Full width/height */
    left: 0;
    width: 100vw;           /* 100% of the viewport width */
    height: 100vh;          /* 100% of the viewport height */
    background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 9000;
}

.border-bottom {
    border-bottom: 1px solid #dee2e600 !important;
}
.bg-dark {
    background: linear-gradient(to bottom, #000000, #b1b1b1, #ff5002);
}
@media only screen and (max-width: 600px) {
    table {
        thead tr {
            height: 60px;
            background: #000000;
            border-bottom: 2px solid #ff5002;
            font-size: 12px;
            color: #f8f9fa;
        }
    }
}
table {
    thead tr {
        height: 60px;
        background: #000000;
        border-bottom: 2px solid #ff5002;
        font-size: 18px;
        color: #f8f9fa;
    }
}
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: linear-gradient(to bottom, #000000, #b1b1b1, #ff5002);
}
